<div class="p-3 bg-white">
  <h1>Editing rental</h1>

  <%= render 'form', booking: @booking, tool: @booking.tool %>

  <%= link_to 'Show', @booking, class:"btn btn-outline-dark" %>
  <%= link_to 'Back to my rentals', bookings_path, class:"btn btn-outline-dark" %>
</div>
