.btn-ghost {
  color: #173a1d;
  background-color: rgb(188, 239, 165);
  padding: 8px 24px;
  border-radius: 10px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color: #7fc879;
}
