.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 16px;
  padding-right: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
